@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&family=Montserrat:wght@500;700&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;

}

.bloc:first-child{
    background-color: hsl(31, 77%, 52%);
}

.bloc:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}


.bloc:last-child{
    background-color: hsl(179, 100%, 13%);
}
.bloc{
    width: 233px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    padding-right: 25px;
    padding-left: 30px;

}

.title{
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 30px;
}
img{
    width: 50px;
}

.discription{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
}

a{
    background-color:hsl(0, 0%, 95%) ;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border-radius: 15pc;
    height: 40px;
    font-family: "Lexend Deca", sans-serif;
    text-decoration: dashed;
}


#bloc1{
    color: hsl(31, 77%, 52%);
}

#bloc2{
    color: hsl(184, 100%, 22%);
}


#bloc3{
    color: hsl(179, 100%, 13%);
}


@media only screen and (max-width: 380px){
    main{
        display: flex;
        flex-direction: column;
    
    }
    body{
        height: 200vh;
    }
}